@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: gold;
}

.text-gold {
  color: #d4af37;
}

.bg-gold {
  background-color: #d4af37;
}

input, button {
  font-family: 'Poppins', sans-serif;
}
